<% if (error && error.length > 0) { %>
<div class="flash error">
	<div class="message"><%= error %></div>
	<button class="close-btn">close</button>
</div>
<% } %> <% if (success && success.length > 0) { %>
<div class="flash success">
	<div class="message"><%= success %></div>
	<button class="close-btn">close</button>
</div>
<% } %>
