<div id="tracking-modal" class="modal hidden">
	<div class="modal-wrapper">
		<button class="modal-close-button" data-target="tracking-modal">
			<img src="/media/cross-icon.svg" alt="Close button" />
		</button>
		<div class="modal-contents">
			<h4 class="modal-title">Something went wrong</h4>
			<p class="modal-text">Did you complete this today?</p>
			<div class="modal-actions">
				<form action="" method="">
					<button class="small-button action-desired">Yes</button>
				</form>
				<button
					class="small-button modal-close-button"
					data-target="tracking-modal"
				>
					No
				</button>
			</div>
		</div>
	</div>
</div>
