<%- include('../partials/head', {title: "Change your password - Little Steps"});
%>
<body class="preload">
	<div class="container">
		<h1 class="title">Change Password</h1>
		<main class="main-contents">
			<div class="form-container">
				<form
					id="change-password-form"
					action="/change-password?_method=PUT"
					method="POST"
					novalidate
				>
					<div class="form-contents">
						<div class="form-feedback"></div>
						<div class="form-field">
							<label for="current-password">Password</label>
							<input
								type="password"
								id="current-password"
								name="current-password"
							/>
							<div class="feedback"></div>
						</div>
						<div class="form-field">
							<label for="password">Password</label>
							<input type="password" id="password" name="password" />
							<div class="feedback"></div>
						</div>
						<div class="form-field">
							<label for="confirm-password">Confirm Your Password</label>
							<input
								type="password"
								id="confirm-password"
								name="confirm-password"
							/>
							<div class="feedback"></div>
						</div>
					</div>
					<button type="submit">Change Password</button>
				</form>
			</div>
		</main>
	</div>
	<%- include('../partials/footer'); %>
</body>
