<%- include('../partials/head', {title: "Change your password - Little Steps"});
%>
<body class="preload">
	<div class="container">
		<%- include('../partials/titlebar', 
			{ page: 'change-password', title: 'Change Password'
		}); %>
		<main class="main-contents">
			<%- include('../partials/flash') %>
			<div class="form-container">
				<form
					id="change-password-form"
					action="/change-password?_method=PUT"
					method="POST"
					novalidate
				>
					<div class="form-contents">
						<div class="form-feedback"></div>
						<div class="form-field required">
							<label for="current-password">Password</label>
							<input
								type="password"
								id="current-password"
								name="current-password"
								required
							/>
							<div class="feedback"></div>
						</div>
						<div class="form-field required">
							<label for="password">Password</label>
							<input type="password" id="password" name="password" required />
							<div class="feedback"></div>
						</div>
						<div class="form-field required">
							<label for="confirm-password">Confirm Your Password</label>
							<input
								type="password"
								id="confirm-password"
								name="confirm-password"
								required
							/>
							<div class="feedback"></div>
						</div>
					</div>
					<button class="large-button" type="submit">Change Password</button>
				</form>
			</div>
		</main>
	</div>
	<%- include('../partials/footer'); %>
