<%- include('../partials/head', {title: "Log in to your Little Steps account"})
%>
<body class="front-page preload">
	<div class="container">
		<h1 class="title">Little Steps</h1>
		<main class="main-contents">
			<%- include('../partials/flash') %>
			<div class="form-container">
				<form id="login-form" action="/login" method="POST" novalidate>
					<div class="form-contents">
						<p class="form-instructions">Login with your email and password</p>
						<div class="form-feedback"></div>
						<div class="form-field required">
							<label for="email">Email</label>
							<input type="email" id="email" name="email" autofocus required />
							<div class="feedback"></div>
						</div>
						<div class="form-field required">
							<label for="password">Password</label>
							<input type="password" id="password" name="password" required />
							<div class="feedback"></div>
						</div>
					</div>
					<button class="large-button" type="submit">Login</button>
				</form>
			</div>

			<div class="alternate-action">
				<p>Are you a new user?</p>
				<a class="alternate-action-link" href="/register">Create an account</a>
			</div>
		</main>
	</div>
	<%- include('../partials/footer'); %>
</body>
</html>