<%- include('../partials/head', {title: "Create a new Little Steps account"});
%>
<body class="preload">
	<div class="container">
		<h1 class="title">Register</h1>
		<main class="main-contents">
			<div class="form-container">
				<form id="register-form" action="/register" method="POST" novalidate>
					<div class="form-contents">
						<p class="form-instructions">
							Create an account by filling up the details below and begin your
							journey to better habits
						</p>
						<%- include('../partials/flash') %>
						<div class="form-feedback"></div>
						<div class="form-field">
							<label for="name">Name</label>
							<input type="text" id="name" name="user[name]" autofocus />
							<div class="feedback"></div>
						</div>
						<div class="form-field">
							<label for="email">Email</label>
							<input type="text" id="email" name="user[email]" />
							<div class="feedback"></div>
						</div>
						<div class="form-field">
							<label for="password">Password</label>
							<input type="password" id="password" name="user[password]" />
							<div class="feedback"></div>
						</div>
						<div class="form-field">
							<label for="confirm-password">Confirm Your Password</label>
							<input
								type="password"
								id="confirm-password"
								name="confirm-password"
							/>
							<div class="feedback"></div>
						</div>
					</div>
					<button type="submit">Create Account</button>
				</form>
			</div>

			<div class="alternate-action">
				<p>Already have an account?</p>
				<a class="alternate-action-link" href="/login">Login</a>
			</div>
		</main>
	</div>
	<%- include('../partials/footer'); %>

	